<mat-card>
  <mat-card-header>
    <mat-icon [routerLink]="['', 'app']">arrow_back</mat-icon>
    <mat-card-title [routerLink]="['', 'app']">Take me anywhere</mat-card-title>
    <mat-card-subtitle>Subtitle</mat-card-subtitle>
  </mat-card-header>
  <img matCardImage src="assets/take-me.jpg">
  <mat-card-content>
    Text content
  </mat-card-content>
  <mat-card-actions align="start">
    <button mat-button>Action1</button>

  </mat-card-actions>
  <mat-card-footer>
    Footer
  </mat-card-footer>
</mat-card>
