<div class="container" fxLayout="column" fxLayoutGap="8px">
  <mat-toolbar color="primary">
    <span>Tripipinátor 3000</span>
    <span fxFlex></span>
    <div mat-card-avatar class="avatar" [matMenuTriggerFor]="menu"></div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-card>
    <mat-card-content>
      <p>No recent trips</p>
    </mat-card-content>

    <mat-card-actions align="start">
      <button mat-button>Action1</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <img mat-card-image src="assets/new-trip.jpg">
    <mat-card-actions align="center">
      <button mat-raised-button color="primary" [routerLink]="['', 'app', 'new-trip']">Plan a New Trip</button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex fxFill>
    <img mat-card-image src="assets/take-me.jpg">
    <mat-card-actions align="center">
      <button mat-raised-button color="primary" [routerLink]="['', 'app', 'take-me']">Take me anywhere</button>
    </mat-card-actions>
  </mat-card>
</div>
