<div class="container" fxLayout="column" fxLayoutGap="8px">
  <mat-toolbar color="primary">
    <span>Tripipinátor 3000</span>
    <span fxFlex></span>
    <mat-icon (click)="logout()">power_settings_new</mat-icon>
    <div mat-card-avatar></div>
  </mat-toolbar>

  <mat-card>
    <mat-card-content>
      <p>No recent trips</p>
    </mat-card-content>

    <mat-card-actions align="start">
      <button mat-button>Action1</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <img mat-card-image src="https://images.pexels.com/photos/297755/pexels-photo-297755.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
    <mat-card-content>
      Plan new Trip
    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-button [routerLink]="['', 'app', 'new-trip']">Plan a New Trip</button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex fxFill>
    <img mat-card-image src="https://images.pexels.com/photos/691637/pexels-photo-691637.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">

    <mat-card-content>
      Take me anywhere
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-button [routerLink]="['', 'app', 'take-me']">Take me anywhere</button>
      </mat-card-actions>
  </mat-card>
</div>
