.categories {
  overflow-x: scroll;
  padding-top: 2px;
  padding-bottom: 2px;
}

.category {
  width: 244px;
}

.category.unselected {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}